<div class="modal-header">
    <h5 class="modal-title" i18n>Problem statuses</h5>
    <button
        type="button"
        class="btn-close"
        aria-label="Close"
        i18n-aria-label
        (click)="activeModal.dismiss()"
    ></button>
</div>
<div class="modal-body">
    <p i18n>
        The problem status indicates the current state of a problem in the
        annotation process. It can be set to one of the following values:
    </p>
    <dl>
        <div class="d-flex gap-2 mb-2">
            <dt>
                <la-status-badge
                    class="d-inline-block"
                    [status]="ProblemStatus.GOLD"
                />
            </dt>
            <dd>This problem has been marked as gold by a master annotator.</dd>
        </div>
        <div class="d-flex gap-2 mb-2">
            <dt>
                <la-status-badge
                    class="d-inline-block"
                    [status]="ProblemStatus.SILVER"
                />
            </dt>
            <dd>
                This problem is not gold but has label or knowledge base annotations
                attached to it.
            </dd>
        </div>
        <div class="d-flex gap-2 mb-2">
            <dt>
                <la-status-badge
                    class="d-inline-block"
                    [status]="ProblemStatus.BRONZE"
                />
            </dt>
            <dd>
                This problem is not gold and lacks label or knowledge base
                annotations.
            </dd>
        </div>
    </dl>
    <p i18n>
        You can filter problems based on their status using the filter options
        in the search bar.
    </p>
</div>
<div class="modal-footer">
    <button
        type="button"
        class="btn btn-secondary"
        (click)="activeModal.dismiss()"
        i18n
    >
        Close
    </button>
</div>
