@let kbControls = form().controls.kbItems.controls;
@let viewMode = viewMode$ | async;

<form [formGroup]="form()">
    <fieldset>
        <legend
            class="form-label h6 fw-bold d-flex align-items-center justify-content-between"
        >
            <span i18n>Knowledge base items</span>
            @if (viewMode === 'add' || viewMode === 'edit') {
            <button
                type="button"
                class="btn btn-sm btn-outline-primary"
                (click)="addKnowledgeBaseItem()"
            >
                <span class="me-1" i18n>Add knowledge base item</span>
                <fa-icon
                    [icon]="faPlus"
                    class="fa-sm"
                    aria-hidden="true"
                    focusable="false"
                ></fa-icon>
            </button>
            }
        </legend>
    </fieldset>

    <ul class="ps-0 list-unstyled" formArrayName="kbItems">
        @for (kbItem of kbControls; let i = $index; track $index) {
        <li class="mb-3">
            @if (viewMode === 'add' || viewMode === 'edit') {
            <div [formGroupName]="i" class="input-group">
                <input
                    type="text"
                    class="form-control"
                    formControlName="entity1"
                    placeholder="Entity 1"
                    required
                />
                <select class="form-select" formControlName="relationship">
                    <option value="" disabled selected i18n>
                        Select relationship
                    </option>
                    @for (relationship of relationshipTypes; track $index) {
                    <option [value]="relationship">
                        {{ getRelationshipTypeName(relationship) }}
                    </option>
                    }
                </select>
                <input
                    type="text"
                    class="form-control"
                    formControlName="entity2"
                    placeholder="Entity 2"
                    required
                />
                <button
                    type="button"
                    class="btn btn-danger"
                    (click)="removeKnowledgeBaseItem(i)"
                    aria-labelledby="remove-kb-item"
                    title="Remove knowledge base item"
                    title-i18n
                >
                    <fa-icon
                        [icon]="faTrash"
                        class="fa-sm"
                        aria-hidden="true"
                        focusable="false"
                    ></fa-icon>
                    <span id="remove-kb-item" class="visually-hidden" i18n
                        >Remove</span
                    >
                </button>
            </div>
            } @else {
            <p class="form-control-plaintext">
                "{{ kbItem.controls.entity1.value }}"
                {{
                    getRelationshipTypeName(kbItem.controls.relationship.value)
                }}
                "{{ kbItem.controls.entity2.value }}"
            </p>
            }
        </li>
        } @empty {
        <li class="text-muted" i18n>
            No knowledge base items defined for this problem.
        </li>
        }
    </ul>
</form>
