<div class="modal-header">
    <h5 class="modal-title" i18n>Problems using this sentence</h5>
    <button
        type="button"
        class="btn-close"
        aria-label="Close"
        i18n-aria-label
        (click)="activeModal.dismiss()"
    ></button>
</div>
<div class="modal-body">
    @if (sentence) {
        <p>
            The sentence "<strong>{{ sentence }}</strong
            >" is used in the following problems:
        </p>
        <p>Click on one of the problem IDs below to view the problem.</p>
    }
    <div class="table-responsive">
        <table class="table align-middle mb-0">
            <thead>
                <tr>
                    <th scope="col" i18n>Problem ID</th>
                    <th scope="col" i18n>Dataset</th>
                    <th scope="col" i18n>Used as</th>
                </tr>
            </thead>
            <tbody>
                @for (problem of problems; track problem.id) {
                    @let current = problem.id === currentlySelectedProblemId;
                    <tr [class.table-active]="current">
                        <td>
                            <a
                                [routerLink]="['/annotate', problem.id]"
                                (click)="activeModal.dismiss()"
                            >
                                ID: {{ problem.id }}
                                @if (current) {
                                    <span i18n>(Current)</span>
                                }
                            </a>
                        </td>
                        <td>{{ datasetLabels[problem.dataset] }}</td>
                        <td>
                            @if (problem.isHypothesis) {
                                <span i18n>Hypothesis</span>
                            } @else {
                                <span i18n>Premise</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
