@let premiseControls = form().controls.premises.controls;

<section class="card">
    <header class="card-header">
        <h3 class="h5" i18n>Premises and Conclusion</h3>
    </header>
    <div class="card-body">
        <form [formGroup]="form()">
            <ul formArrayName="premises" class="ps-0 list-unstyled">
                @for (control of form().controls.premises.controls; let i = $index; track $index)
                {
                <li class="mb-3">
                    <label
                        [attr.for]="'premise-' + i"
                        class="form-label fw-bold"
                        i18n
                    >
                        Premise {{ i + 1 }}
                    </label>
                    <div class="input-group">
                        <input
                            [id]="'premise-' + i"
                            type="text"
                            class="form-control"
                            [formControlName]="i"
                        />
                        <button
                            type="button"
                            class="btn btn-danger"
                            (click)="removePremise(i)"
                            [disabled]="premiseControls.length === 1"
                        >
                            <fa-icon
                                [icon]="faTrash"
                                class="fa-sm"
                                aria-hidden="true"
                            ></fa-icon>
                            <span class="ms-2" i18n>Remove</span>
                        </button>
                    </div>
                </li>
                }
            </ul>
            <button
                type="button"
                class="btn btn-primary mb-3"
                (click)="addPremise()"
            >
                <fa-icon
                    [icon]="faPlus"
                    class="fa-sm"
                    aria-hidden="true"
                ></fa-icon>
                <span class="ms-2" i18n>Add Premise</span>
            </button>

            <div class="mb-3">
                <label for="conclusion" class="form-label fw-bold" i18n>
                    Conclusion
                </label>
                <input
                    id="conclusion"
                    type="text"
                    class="form-control"
                    [formControl]="form().controls.conclusion"
                />
            </div>
        </form>
    </div>
</section>
