@let premiseControls = form().controls.premises.controls;

<form [formGroup]="form()">
    <fieldset>
        <legend
            class="form-label h6 fw-bold d-flex align-items-center justify-content-between"
        >
            <span i18n>Premises</span>
            <button
                type="button"
                class="btn btn-sm btn-outline-primary"
                (click)="addPremise()"
            >
                <span class="me-1" i18n>Add premise</span>
                <fa-icon
                    [icon]="faPlus"
                    class="fa-sm"
                    aria-hidden="true"
                    focusable="false"
                ></fa-icon>
            </button>
        </legend>

        <ul class="ps-0 list-unstyled" formArrayName="premises">
            @for (control of premiseControls; let i = $index;
            track $index) {
            <li class="mb-3">
                <div class="input-group">
                    <input
                        [id]="'premise-' + i"
                        type="text"
                        class="form-control"
                        [formControlName]="i"
                    />
                    <button
                        type="button"
                        class="btn btn-danger"
                        (click)="removePremise(i)"
                        aria-labelledby="remove-premise"
                        title="Remove premise"
                        title-i18n
                    >
                        <fa-icon
                            [icon]="faTrash"
                            class="fa-sm"
                            aria-hidden="true"
                            focusable="false"
                        ></fa-icon>
                        <span id="remove-premise" class="visually-hidden" i18n
                            >Remove</span
                        >
                    </button>
                </div>
            </li>
            } @empty {
                <li class="text-muted" i18n>No premises defined for this problem.</li>
            }
        </ul>
    </fieldset>

    <div class="mb-3">
        <label for="hypothesis" class="form-label fw-bold" i18n>
            Hypothesis
        </label>
        <input
            id="hypothesis"
            type="text"
            class="form-control"
            [formControl]="form().controls.hypothesis"
        />
    </div>
</form>
