.modal-body {
    h6 {
        margin-top: 0.5rem;
        margin-bottom: 0.75rem;
        font-weight: 600;
    }

    .clickable-table {
        .clickable-row {
            cursor: pointer;

            &:hover {
                background-color: rgba(0, 0, 0, 0.05);
            }
        }
    }
}
