<div class="navigator-container">
    @if (problem$ | async; as problem) {
    <div class="d-flex justify-content-center align-items-center gap-2 mb-3">
        <button
            class="btn btn-outline-primary"
            (click)="problem.previous && navigateToProblem(problem.previous)"
            [disabled]="problem.previous === null"
            ngbTooltip="First Problem"
            i18n-ngbTooltip
        >
            <fa-icon [icon]="faAnglesLeft" class="me-2" aria-hidden="true" />
            <span i18n>First</span>
        </button>
        <button
            class="btn btn-outline-primary"
            (click)="problem.previous && navigateToProblem(problem.previous)"
            [disabled]="problem.previous === null"
            ngbTooltip="Previous Problem"
            i18n-ngbTooltip
        >
            <fa-icon [icon]="faAngleLeft" class="me-2" aria-hidden="true" />
            <span i18n>Previous</span>
        </button>

        <div class="problem-info d-flex flex-column align-items-center px-3">
            <span>{{ problem.problemId }} of {{ 99999 }}</span>
            <span class="badge bg-secondary mt-1" i18n>
                ID: {{ problem.problemId }}
            </span>
        </div>

        <button
            class="btn btn-outline-primary"
            (click)="problem.next && navigateToProblem(problem.next)"
            [disabled]="problem.next === null"
            ngbTooltip="Next Problem"
            i18n-ngbTooltip
        >
            <span i18n>Next</span>
            <fa-icon [icon]="faAngleRight" class="ms-2" aria-hidden="true" />
        </button>
        <button
            class="btn btn-outline-primary"
            (click)="problem.next && navigateToProblem(problem.next)"
            [disabled]="problem.next === null"
            ngbTooltip="Last Problem"
            i18n-ngbTooltip
        >
            <span i18n>Last</span>
            <fa-icon [icon]="faAnglesRight" class="ms-2" aria-hidden="true" />
        </button>
        <button
            class="btn btn-outline-secondary"
            (click)="problem.random && navigateToProblem(problem.random)"
            ngbTooltip="Random Problem"
            i18n-ngbTooltip
        >
            <span i18n>Random</span>
            <fa-icon [icon]="faShuffle" class="ms-2"></fa-icon>
        </button>
    </div>
    }
</div>
