@let problemResponse = problemResponse$ | async;

<div class="navigator-container">
    <div class="d-flex justify-content-between align-items-center gap-2">
        <div class="responsive-button-grid">
            <la-icon-button
                [icon]="faAnglesLeft"
                (click)="navigateToProblem(problemResponse?.firstProblemId)"
                [disabled]="
                    problemResponse?.firstProblemId === null ||
                    problemResponse?.problem?.id ===
                        problemResponse?.firstProblemId
                "
                buttonTitle="First problem"
                i18n-buttonTitle
                outline
                fullWidth
            />
            <la-icon-button
                [icon]="faAngleLeft"
                (click)="navigateToProblem(problemResponse?.previousProblemId)"
                [disabled]="problemResponse?.previousProblemId === null"
                buttonTitle="Previous problem"
                i18n-buttonTitle
                outline
                fullWidth
            />
        </div>

        <div class="px-2 text-center flex-grow-1">
            @if (problemResponse) {
            <span class="small" i18n>
                {{ problemResponse?.index ?? "-" }}
            </span>
            <hr class="my-1" />
            <span class="small" i18n>{{ problemResponse.totalProblems }}</span>
            }
        </div>

        <div class="responsive-button-grid">
            <la-icon-button
                [icon]="faAngleRight"
                (click)="navigateToProblem(problemResponse?.nextProblemId)"
                [disabled]="problemResponse?.nextProblemId === null"
                buttonTitle="Next problem"
                i18n-buttonTitle
                outline
                fullWidth
            />
            <la-icon-button
                [icon]="faAnglesRight"
                (click)="navigateToProblem(problemResponse?.lastProblemId)"
                [disabled]="
                    problemResponse?.lastProblemId === null ||
                    problemResponse?.problem?.id ===
                        problemResponse?.lastProblemId
                "
                buttonTitle="Last problem"
                i18n-buttonTitle
                outline
                fullWidth
            />
        </div>
    </div>
</div>
