@let problem = problem$ | async;
@let appMode = appMode$ | async;
@let editingOrAdding = appMode === "edit" || appMode === "add";
@let inProgress = inProgress$ | async;

@if (problem) {
    <div class="card">
        <div class="card-body">
            <la-problem-details [problem]="problem" />
            @if (form) {
                <div class="d-flex flex-column">
                    <la-premises-form [form]="form" />
                    <hr />
                    <la-knowledge-base-form [form]="form" />
                </div>
                <div class="card my-3">
                    <div class="card-body">
                        <div
                            class="d-flex justify-content-between align-items-center"
                        >
                            @if (!inProgress) {
                                <la-icon-button
                                    buttonStyle="success"
                                    [icon]="faTree"
                                    label="Parse and prove"
                                    (click)="startParse()"
                                />
                            } @else {
                                <la-icon-button
                                    buttonStyle="success"
                                    [icon]="faHourglass"
                                    label="Parsing and proving..."
                                    disabled="true"
                                />
                            }
                            <div class="ms-2">
                                <la-langpro-prediction [form]="form" />
                                <small class="text-muted" i18n
                                    >This will be cleared if the problem or its
                                    KB items are changed.</small
                                >
                            </div>
                        </div>
                    </div>
                </div>
                @if (this.form.dirty || editingOrAdding) {
                    <la-icon-button
                        buttonStyle="primary"
                        [icon]="faFloppyDisk"
                        label="Save problem"
                        (click)="saveProblem()"
                        fullWidth
                    />
                }
            }
        </div>
    </div>
} @else {
    <div
        class="h-100 d-flex align-items-center justify-content-center text-muted"
    >
        <fa-icon [icon]="faExclamationCircle"></fa-icon>
        <h2 class="h4 mb-0 ms-2">
            There are no problems matching your search criteria.
        </h2>
    </div>
}
