@if (problem?.id) {
<div class="card">
    <div class="card-body">
        <la-problem-details [problem]="problem" />
        @if (form) {
        <div class="d-flex flex-column">
            <la-premises-form class="subform" [form]="form" />
            <hr />
            <la-knowledge-base-form class="subform" [form]="form" />
        </div>
        }
    </div>
</div>
} @else {
<div class="h-100 d-flex align-items-center justify-content-center text-muted">
    <fa-icon [icon]="faExclamationCircle"></fa-icon>
    <h2 class="h4 mb-0 ms-2">
        There are no problems matching your search criteria.
    </h2>
</div>
}
