@let appMode = appMode$ | async;
@if (problemDetails(); as details) {
<div>
    <table class="table table-sm table-borderless">
        <tbody>
            <tr>
                <td class="text-muted" i18n>ID:</td>
                <td>{{ details.problemId }}</td>
            </tr>
            <tr>
                <td class="text-muted" i18n>Dataset:</td>
                <td>{{ datasetLabels[details.dataset] }}</td>
            </tr>
            <tr>
                <td class="text-muted" i18n>Entailment label:</td>
                <td>
                    <la-entailment-label-badge
                        [entailmentLabel]="details.entailmentLabel"
                    ></la-entailment-label-badge>
                </td>
            </tr>
            <tr>
                <td class="text-muted" i18n>Based on:</td>
                @if (appMode === 'browse' && details.baseProblemId !== null) {
                <td>
                    <a [routerLink]="['/annotate', details.baseProblemId]">
                        <span>{{ details.baseProblemId }}</span>
                        <fa-icon [icon]="faArrowUpRight"  class="ms-2"/>
                    </a>
                </td>
                } @else if (details.baseProblemId === null) {
                <td i18n>None</td>
                } @else {
                <td>{{ details.baseProblemId }}</td>
                }
            </tr>
            @if (sectionString()) {
            <tr>
                <td class="text-muted" i18n>Section:</td>
                <td>{{ sectionString() }}</td>
            </tr>
            } @if (details.comment) {
            <tr>
                <td class="text-muted">
                    <span i18n>Comment:</span>
                    <fa-icon
                        class="ms-1"
                        [icon]="faQuestionCircle"
                        aria-hidden="true"
                        ngbTooltip="Comments provided by Bill McCartney."
                        i18n-ngbTooltip
                    />
                </td>
                <td>
                    <i>{{ details.comment }}</i>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}
