.problem-detail-container {
    position: relative;
}

.judgement-badge-container {
    position: absolute;
    top: 1em;
    right: 1em;
    display: flex;
    gap: 0.5em;
}

.table {
    td:first-child {
        width: 8em;
    }
}
