.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
}

@media (min-width: 992px) {
    .flex-container {
        flex-direction: row;
        flex-wrap: nowrap;
    }
}
